@font-face {
    font-family: Gotham;
    src: url(../fonts/gotham/GothamMedium.ttf);
}
@font-face {
    font-family: AkriaExpanded;
    src: url(../fonts/AkiraExpanded.otf);
}
@font-face {
    font-family: ErotiqueText;
    src: url(../fonts/ErotiqueTextRegular.otf);
}
@font-face {
    font-family: GothamItalic;
    src: url(../fonts/gotham/Gotham-BookItalic.otf);
}